*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Poppins",sans-serif; */
}

/* html,body{
    width: 100%;
    height: 100vh;
   
} */
body {
  height: 100vh;
  background:linear-gradient( to left, #a8ff52, #24e07f );
  /* background: linear-gradient(to top left, #e92e3d, #ff6e6a); */
}
.navbar{
  background:linear-gradient( to top  left, #e92e3d, #ff6e6a);

}
/* ================================================================================
    ======================================== Star Review  ============================
    ================================================================================ */
.container.addrating {
  position: relative;
  width: 400px;
  background: #111;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container.addrating .post {
  display: none;
}

.container.addrating .text {
  font-size: 25px;
  color: #666;
  font-weight: 500;
}

.container.addrating .edit {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}

.container.addrating .edit:hover {
  text-decoration: underline;
}

.container.addrating #progress {
  width: 100%;
}

.container.addrating .star-widget input {
  display: none;
}

.star-widget label {
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
  color: #fd4;
}

input:checked~label {
  color: #fd4;
}

input#rate-5:checked~label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

#rate-1:checked~form header:before {
  content: "I Just hate it 😠";
}

#rate-2:checked~form header:before {
  content: "I don't like it 😒";
}

#rate-3:checked~form header:before {
  content: "It is awesome 😄";
}

#rate-4:checked~form header:before {
  content: "I just like it 😎";
}

#rate-5:checked~form header:before {
  content: "I just love it 😍";
}

.addrating form {
  display: none;
}

input:checked~form {
  display: block;
}

form {
  text-align: center;
}

form header {
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}

form #myimg {
  text-align: center;
  /* height: auto;  */
  width: 100%;
  height: 20%;
  /* height: 250px; */
  /* border: 1px solid #333; */
}

form .addimg {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  background: #222;
  border: 1px solid #333;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form .addimg p {
  color: #ccc;
  font-size: 17px;
  padding: 10px;
  resize: none;
}

form .addimg p::before {
  padding: 0 5px 0 10px;
  content: "\f055";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
  font-size: 17px;

}

form .addimg span {
  font-size: 1rem;
  color: #eee;
  font-size: 50px;
  float: left;
  /* padding: 10px; */
  transition: all 0.2s ease;
}

form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}

.textarea textarea:focus {
  border-color: #444;
}

form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

form .btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .btn button:hover {
  background: #1b1b1b;
}

.imgreview {
  width: 50px;
  height: 50px;
}

.starnum::after {
  padding: 0 5px 0 5px;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 17px;
  color: gold;
}

/* ================================================================================
    ======================================== Table  ============================
    ================================================================================ */
.contentbg {
  width: 100%;
  background: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.conreview {
  max-height: 500px;
  overflow: auto;
}

.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  display: block;
  z-index: 1;
  background: linear-gradient(to bottom right, #a8ff52, #24e07f, #f443d7, #a741fb);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 5px;
  margin: 5px 5px 0 0;
  /* overflow: hidden; */
}

.img-circle {

  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* object-fit: cover; */
}

.contname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.starcont,
.datecont {
  font-size: 1rem;
  font-weight: 500;
}

.reviewcont {
  font-size: 1.25rem;
  font-weight: 500;
}

.countrate::after {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: gold;
  margin-left: 0.05rem;
}

img.image-review {
  position: relative;
  display: flex;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 1);
}

/* ================================================================================
    ======================================== Start Rating ============================
    ================================================================================ */
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-outer-count::after {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: gold;
  margin-left: 0.25rem;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

.btn-logout {
  background: var(--bs-secondary);
  color: white;
  border-radius: 5px;
  padding: 3px;
}

#userlink {
  color: lightblue;
}

#closeReview {
  display: block;
  position: relative;

}

#closeReview i {
  background-color: yellow;
  font-size: 1.75rem;
  color: rgb(231, 48, 48);
  position: absolute;
  top: -20px;
  left: 5px;
  /* right: -10%; */
}